${jsonencode(
{
	"metadata": {
		"annotations": {},
		"description": nfv_description,
		"labels": {},
		"name": nfv_name,
		"namespace": namespace
	},
	"spec": {
		"endpoint_service": {
			"advertise_on_slo_ip_external": {},
			"automatic_vip": {}
		},
		"default_tcp_ports": {},
		"disable_advertise_on_slo_ip": {},
		"no_udp_ports": {},
		"f5_big_ip_aws_service": {
			"admin_password": {
				"clear_secret_info": {
					"url": nfv_admin_password
				}
			},
			"admin_username": nfv_admin_username,
			"aws_tgw_site_params": {
				"aws_tgw_site": {
					"name": tgw_name,
					"namespace": namespace,
					"tenant": tenant
				}
			},
			"market_place_image": {
				"AWAFPayG200Mbps": {}
			},
			"nodes": [{
				"automatic_prefix": {},
				"aws_az_name": aws_az_name,
				"node_name": {nfv_node_name,
				"reserved_mgmt_subnet": {}
			}],
			"ssh_key": ssh_key,
			"tags": {}
		},
		"https_management": {
			"advertise_on_public_default_vip": {},
			"default_https_port": {},
			"domain_suffix": nfv_domain_suffix,
			"disable_local": {}
		}
	}
}
)}