${jsonencode({
   "expiration_days": expiration_days,
   "name": name,
   "namespace": namespace,
   "spec":{
      "password": password,
      "type": type,
      "virtual_k8s_name": virtual_k8s_name,
      "virtual_k8s_namespace": virtual_k8s_namespace
   }
})}