{
  "metadata": {
    "name": "ver-secret-policy",
    "namespace": "system"
  },
  "spec": {
    "rules": [
      {
        "kind": "secret_policy_rule",
        "tenant": "ves-io",
        "namespace": "system",
        "name": "ver-secret-policy-rule"
      }
    ]
  }
}
