{
  "metadata": {
    "name": ${policy_name},
    "namespace": "${namespace}"
  },
  "spec": {
    "rules": [
      {
        "kind": "secret_policy_rule",
        "tenant": "${tenant}",
        "namespace": "${namespace}",
        "name": "${policy_rule_name}"
      }
    ]
  }
}
