{
  "metadata": {
    "name": ${policy_name},
    "namespace": ${namespace}
  },
  "spec": {
    "action": "ALLOW",
    "clientNameMatcher": {
      "regexValues": [
        "ver\\..*\\.int.ves.io"
      ]
    }
  }
}
